.default-color0.chart-bar {
    -fx-bar-fill: #FFFFFF;
    visibility:hidden;
    }

.default-color1.chart-bar {
    -fx-bar-fill: #40476D;
}

.default-color2.chart-bar {
    -fx-bar-fill: #6DD3CE;
    }